[submodule "PyTorch-ENet"]
	path = archive/PyTorch-ENet
	url = https://github.com/Redcof/PyTorch-ENet
[submodule "pytorch_forward_forward"]
	path = archive/pytorch_forward_forward
	url = https://github.com/Redcof/pytorch_forward_forward
[submodule "affinity-loss"]
	path = archive/affinity-loss
	url = https://github.com/Redcof/affinity-loss
[submodule "pytorch-faster-rcnn"]
    path =  archive/pytorch-faster-rcnn
    url = https://github.com/AlphaJia/pytorch-faster-rcnn